@charset "utf-8";
/* CSS Document */

/* Base Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	background: #F3F3F3;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #2D2D2D;
	line-height: 1.5;
}

.container {
	max-width: 980px;
	width: 90%;
	margin: 1em auto;
}

h1 {
	margin: 0.5em 0 0.75em;
	font-size: clamp(1.8125rem, calc(1.8125rem + ((1vw - 0.1875rem) * 0.7692)), 2.4375rem);
	font-weight: 800;	
}

h1 a {
	text-decoration: none;
}

h1 a:visited {
	color: #2D2D2D;
}

h2 {
	margin: 1em 0;
	font-family: 'Libre Bodoni', serif;
	font-size: clamp(1.125rem, calc(1.125rem + ((1vw - 0.1875rem) * 0.4231)), 1.46875rem);
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	margin: 0.75em 0 0.5em;
	font-size: clamp(1.375rem, calc(1.375rem + ((1vw - 0.1875rem) * 0.4615)), 1.75rem);
	font-weight: 500;
}

hr {
	opacity: 0.5;
}

.text-center {
	text-align: center;
}

nav,
.nav,
.headline {
	display: flex;
	flex-direction: column;
}

.footer,
.bottom-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav h1 {
	align-self: center;
}

nav ul,
.nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav a {
	display: block;
	margin: 0 0.25em 6px;
	padding: 0.5em;
	background: #FFF;
	border: 5px solid transparent;
	font-size: 1.125rem;
	line-height: 1.3;
	font-weight: 800;
	color: #2D2D2D;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s;
}

.nav li:last-child a {
	margin-bottom: 0;
}

.nav a:hover,
.nav a:focus {
	background: #2D2D2D;
	color: #FFF;
	outline: none;
}

.nav a:active {
	border: 5px solid #707070;
}

.row {
	max-width: 980px;
	flex-wrap: wrap;
	margin: 0 auto;
}

.headline {
	margin-top: 2.5em;
}

.headline .profile-picture {
	max-width: 300px;
	width: 100%;
	height: auto;
	align-self: center;
}

.faded-text {
	margin: 1.5em 0;
	font-weight: 300;
}

.portfolio {
	width: 100%;
	max-width: 980px;
	margin: 1em auto;
	padding: 2em 0.5em;
	background: #FFF;
}

.col {
	flex: 1;
	margin: 2.5em 0;
	padding: 0 1em;
}

.col img {
	width: 100%;
	max-width: 350px;
	max-height: 300px;
}

.spacer {
	margin: 1.5em 0 2.5em;
	padding: 2em 0;
}

.contact-info p {
	margin: 0.5em 0 0.75em;
}

.contact-info a {
	padding-left: 0.5em;
	font-weight: 800;
	color: #636363;
	text-decoration: none;
}

.contact-info a:hover {
	text-decoration: underline;
}

.name {
	margin-right: auto;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-transform: capitalize;
}

.footer {
	margin: 1em 0 1.5em;
}

.bottom-nav,
.bottom-nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bottom-nav li a {
	display: block;
	font-weight: 700;
	color: #2D2D2D;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.bottom-nav-link {
	display: none;
}

/* Media Queries */

@media (min-width: 768px) {
	.nav,
	.headline {
		flex-direction: row;
	}
	
	.nav {
		margin: 0 auto;
	}
	
	.nav a {
		display: block;
		margin-bottom: 0;
		padding: 1em;
		background: none;
		border: none;
	}
	
	.headline {
		margin: 2.5em 0;
	}
	
	.headline p {
		text-align: left;
	}
	
	.headline img {
		order: 1;
		margin-left: 15px;
	}
	
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	
	.col {
		flex-basis: calc(50% - 20px);
	}
	
	.contact {
		max-width: 75%;
		margin: 0 auto 3em;
	}
	
	.footer {
		margin: 1em 0 5em;
	}
	
	.bottom-nav li a {
		margin: 0 0.25em;
		padding: 1em;
	}
	
	.bottom-nav li:last-child a {
		margin-right: 0;
		padding-right: 0;
	}
	
	.bottom-nav li a:hover {
		text-decoration: underline;
	}
	
	.top {
		display: none;
	}
	
	.bottom-nav-link {
		display: block;
	}
}

@media (min-width: 1024px) {
	nav {
		flex-direction: row;
		align-items: center;
	}
	
	.nav {
		margin: 0 0 0 auto;
	}
	
	.nav li:last-child a {
		margin-right: 0;
	}
	
	.headline .profile-picture {
		max-width: 100%;
	}
	
	.faded-text {
		font-size: 22px;
	}
	
	.col {
		flex-basis: calc(33.33% - 20px);
	}
	.contact {
		max-width: 50%;
	}
	.footer {
		margin: 1em 0;
	}
}